body{
    font-family: 'Poppins', sans-serif;
    color:black;
    background-image: url(Images/cover-green.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 20%;
    margin: 0%;
    
    
}
.Heading{
    color: white;
    font-size: 300%;
    width:300% ;
    padding-top: 40%;
    padding-left: 70%;
}
.Heading-slogan{
    color:whitesmoke;
    width: 100%;
    font-size: 150%;
    padding-top: 10%;
    padding-left: 100%;
    text-align: center;
}

.Box-Margin{
    color:darkgreen;
    padding: 2px 20px ;
    border: solid white;
    
}
.Flexible-Container{
    display: flex;

}
.Slogan{
    color: #5F6A6A ;
    font-weight: 900;
    width: 60%;
    padding-top: 47%;   
      }
   .Slogan img{
       width: 70% ;
   }
.Slogan-Text{
    font-weight: 900;
    font-size: 300%;
}
.Green-Fresh{
    color:limegreen;
}

.Order-food-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    color: ghostwhite;
    font-weight: 900;
    padding: 10px 30px;
    border-radius: 30px;
}
.About-us{
    margin-top: 160px;
    background-image: url(Images/background_middle.jpeg);
    background-size: 100%, 2% ;
    background-repeat: no-repeat;
}
.About-us-heading{
    color: #5D6D7E  ;
 font-weight:700;
 font-size: 130%;
 width: 50%;
 padding-top: 2%;
 padding-right: 20%;
 padding-left: 10%;
 padding-bottom: 0%;
}
.Sushi-eating-girl img{
    width: 100% ;
}

.About-us-font{
    font-size: 80%;
    padding-bottom: 6%;
}
.Contact-Button{
    text-decoration: none;
    background-image: linear-gradient(forestgreen,lime);
    color: ghostwhite;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 30px;
}
.Recipe-colour{
    color:tomato;
}
.Recipes{
    margin-top: 100px;
    margin-bottom: 6%;
}

.Recipe-font{
    text-align: center;
    font-weight: 700;
    font-size: 300%;
}

.Recipe-Item{    
    
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 25px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    text-align: left;
}

.Recipe-Item img{
    padding-top: 10%;
    padding-left:5%;
    
    height: 50%;
    width: 80%;
}
.Bottom-box{
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 25px;
    border-width: 10%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    text-align: center;  
    margin-bottom: 5%;
}
.Bottom-box-text{
    padding-left: 15%;
}
.Bottom-box-text-bold{
    font-weight:bolder;
    font-size: 300%;
}
footer{
    padding: 2px 30px;
    background-color:#717D7E ;
    color: blanchedalmond;
    font-size: 100%;
    font-weight: 500;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 3%;
}
.Footer-font{
    font-size: 200%;
}
.Footer-Box-Margin{
    color:#55D310;
    padding: 2px 20px ;
    border: solid white;
    
}

